<!DOCTYPE html>
<html ng-app="CustomDirective">
<head>
	<meta charset="utf-8">
	<title>Ng-src</title>
	<script type="text/javascript" src="../angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="js/jquery_ui.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/jquery_ui.css">
	<link rel="stylesheet" type="text/ccs" href="css/bootstrap.css">
</head>
<body ng-controller="AppCtrl">
	<input type="text" class="caja_texto form-control"  my-autocomplete="repos" placeholder="Buscar repositorios">
	<ul class="no-list">
		<li ng-repeat="repo in posts" ng-hide="main_repo && main_repo != repo.name">
		<div class="circular" back-img="{{repo.owner.avatar_url}}"></div>
			<h1>{{repo.full_name}}</h1>
		</li>
	</ul>
	<a ng-click='main_repo=null'>Limpiar</a>
</body>
</html>
