.circular
{
	border-radius: 50%;
	width:100px;
	height: 100px;
	display: inline-block;
}

.no-list li{
	list-style-type: none;
}

body,html
{
	text-align: center;
	background-color: #eee;
	margin: 0px;
}

.cuerpo
{
	text-align: :center;
}

.caja_texto
{
	width:80%;
	margin-bottom: 5%;
}

.ui-autocomplete
{
	background-color: #fff;
}

.ui-menu-item:hover
{
	font-weight: bold;
}